# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Node
node_modules/

# IDE
.idea/
.vscode/

# Vector Database
semantix.db/
semantix_chroma.db/
*.db

# macOS
.DS_Store
